In [1]:
%reload_ext autoreload
%autoreload 2
%matplotlib inline

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

<h1> Pandas </h1>

In [3]:
#series, one dimensional structure
s = pd.Series([2, 4, -12, 0, 2])

In [4]:
s

0     2
1     4
2   -12
3     0
4     2
dtype: int64

In [5]:
s.shape

(5,)

In [6]:
s.dtype

dtype('int64')

In [7]:
#convert it into a numpy array with s.values
s.values

array([  2,   4, -12,   0,   2])

In [8]:
s[3]

0

In [9]:
#slicing in python
s[1:3]

1     4
2   -12
dtype: int64

In [10]:
s[1:]

1     4
2   -12
3     0
4     2
dtype: int64

In [11]:
s * 2

0     4
1     8
2   -24
3     0
4     4
dtype: int64

In [12]:
s > 0

0     True
1     True
2    False
3    False
4     True
dtype: bool

In [14]:
#take the elements which are > 0
s[s > 0]

0    2
1    4
4    2
dtype: int64

In [15]:
#sum of elements
s.sum()

-4

In [16]:
#average
s.mean()

-0.80000000000000004

In [17]:
#unique values
s.unique()

array([  2,   4, -12,   0])

In [18]:
#Dataframe structure - it's like a matrix
df = pd.DataFrame({'a' : [1, 2, 3], 'b' : [4, 5, 6], 'c' : [7, 8 ,9]})

In [19]:
#keys become column names
df

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

In [21]:
df = pd.read_csv('datasets/dataset_corkA.csv')

In [22]:
df

,flarea,type,bdrms,bthrms,floors,devment,ber,location,price
0,497.0,Detached,4,5,2,SecondHand,B2,Carrigrohane,975
1,83.6,Detached,3,1,1,SecondHand,D2,Glanmire,195
2,97.5,Semi-detached,3,2,2,SecondHand,D1,Glanmire,225
3,158.0,Semi-detached,5,2,2,SecondHand,C3,Douglas,279
4,118.7,Semi-detached,3,2,2,SecondHand,E2,Douglas,380
5,170.0,Detached,4,4,2,SecondHand,D1,Douglas,530
6,97.5,Semi-detached,3,2,2,SecondHand,C3,CityCentre,225
7,123.6,Semi-detached,4,2,2,SecondHand,C1,Silversprings,260
8,137.5,Detached,5,2,2,SecondHand,C2,PassageWest,230
9,48.3,Apartment,1,1,1,SecondHand,C1,Ballinlough,125
10,197.9,Semi-detached,4,3,2,SecondHand,C3,Douglas,350
11,102.0,Terraced,3,1,2,SecondHand,G,Farranree,149
12,122.6,Semi-detached,3,3,2,SecondHand,B3,Glanmire,220
13,148.0,Detached,4,2,2,SecondHand,E2,Glanmire,300
14,465.0,Detached,6,6,2,SecondHand,E1,Rochestown,675
15,232.3,Detached,5,2,2,SecondHand,D2,Inniscarra,475
16,101.9,Terraced,3,3,2,SecondHand,B3,PassageWest,180
17,60.0,Terraced,3,1,2,SecondHand,F,CityCentre,140
18,81.8,Terraced,4,2,2,SecondHand,C3,CityCentre,135
19,102.2,Semi-detached,3,3,2,SecondHand,C2,Glanmire,210
20,325.2,Detached,4,3,2,SecondHand,B3,Waterfall,680
21,83.6,Apartment,2,2,1,SecondHand,D2,Douglas,198
22,120.8,Detached,4,2,2,SecondHand,D2,Douglas,330
23,112.4,Semi-detached,3,2,2,SecondHand,C2,Blackrock,225
24,185.8,Semi-detached,5,2,2,SecondHand,C2,Douglas,530
25,115.2,Semi-detached,4,2,2,SecondHand,D2,Douglas,385
26,66.9,Terraced,3,1,2,SecondHand,D2,Douglas,155
27,78.0,Terraced,3,1,2,SecondHand,E1,CityCentre,250
28,65.0,Apartment,2,2,1,SecondHand,B2,CityCentre,150
29,90.0,Apartment,2,2,1,SecondHand,B3,Blackrock,150
...,...,...,...,...,...,...,...,...,...
177,218.0,Detached,5,3,2,SecondHand,B3,Waterfall,590
178,108.0,Detached,3,2,1,SecondHand,E1,Glanmire,250
179,92.9,Terraced,3,3,2,SecondHand,C3,Rochestown,195
180,118.0,Semi-detached,3,2,2,SecondHand,G,Ballinlough,195
181,111.5,Semi-detached,3,2,2,SecondHand,E2,Douglas,215
182,161.0,Detached,3,2,2,SecondHand,G,Douglas,350
183,102.2,Semi-detached,5,2,2,SecondHand,D2,CityCentre,175
184,88.3,Terraced,3,2,2,SecondHand,C2,Glanmire,193
185,66.0,Apartment,2,2,1,SecondHand,B3,VictoriaCross,99
186,232.3,Detached,4,3,2,SecondHand,F,Bishopstown,400
187,139.4,Detached,4,2,2,SecondHand,D1,Rochestown,390
188,224.0,Detached,6,3,2,SecondHand,E2,Bishopstown,495
189,141.0,Detached,4,2,1,SecondHand,C2,Glanmire,325
190,73.4,Semi-detached,3,1,2,SecondHand,E2,Farranree,80
191,319.8,Detached,4,5,2,SecondHand,B2,Inniscarra,479
192,408.8,Detached,7,4,2,SecondHand,C2,Montenotte,950
193,111.5,Detached,3,2,1,SecondHand,D2,Ovens,275
194,65.0,Apartment,2,2,1,SecondHand,D1,Rochestown,150
195,93.0,Terraced,3,1,2,SecondHand,G,CityCentre,220
196,91.0,Semi-detached,3,1,2,SecondHand,F,CityCentre,220
197,255.5,Detached,5,3,2,SecondHand,C3,Rochestown,650
198,223.0,Detached,4,3,2,SecondHand,B2,Banduff,265
199,213.7,Detached,4,3,2,SecondHand,C3,Rochestown,549
200,99.0,Semi-detached,3,1,2,SecondHand,F,Silversprings,150
201,92.9,Semi-detached,3,3,2,SecondHand,D1,Ballintemple,225
202,139.4,Semi-detached,4,3,2,SecondHand,C3,Mayfield,265
203,110.0,Semi-detached,4,1,2,SecondHand,D1,Blackpool,185
204,312.8,Detached,3,2,2,SecondHand,C3,PassageWest,295
205,62.8,Semi-detached,3,1,2,SecondHand,G,Gurranabraher,95
206,92.9,Semi-detached,3,2,2,SecondHand,E1,Douglas,220

In [23]:
df.shape

(207, 9)

In [24]:
df.dtypes

flarea      float64
type         object
bdrms         int64
bthrms        int64
floors        int64
devment      object
ber          object
location     object
price         int64
dtype: object

In [25]:
df.columns

Index(['flarea', 'type', 'bdrms', 'bthrms', 'floors', 'devment', 'ber',
       'location', 'price'],
      dtype='object')

In [27]:
df.describe(include = 'all')

,flarea,type,bdrms,bthrms,floors,devment,ber,location,price
count,207.000000,207,207.000000,207.000000,207.000000,207,207,207,207.000000
unique,NaN,4,NaN,NaN,NaN,2,12,36,NaN
top,NaN,Semi-detached,NaN,NaN,NaN,SecondHand,G,CityCentre,NaN
freq,NaN,65,NaN,NaN,NaN,204,25,40,NaN
mean,128.094686,NaN,3.434783,2.106280,1.826087,NaN,NaN,NaN,274.724638
std,73.970582,NaN,1.232390,1.185802,0.379954,NaN,NaN,NaN,171.756507
min,41.800000,NaN,1.000000,1.000000,1.000000,NaN,NaN,NaN,55.000000
25%,82.650000,NaN,3.000000,1.000000,2.000000,NaN,NaN,NaN,165.000000
50%,106.000000,NaN,3.000000,2.000000,2.000000,NaN,NaN,NaN,225.000000
75%,153.650000,NaN,4.000000,3.000000,2.000000,NaN,NaN,NaN,327.500000
max,497.000000,NaN,10.000000,10.000000,2.000000,NaN,NaN,NaN,995.000000

In [29]:
#it is stored like a series - one dimensional structure
df['type']

0           Detached
1           Detached
2      Semi-detached
3      Semi-detached
4      Semi-detached
5           Detached
6      Semi-detached
7      Semi-detached
8           Detached
9          Apartment
10     Semi-detached
11          Terraced
12     Semi-detached
13          Detached
14          Detached
15          Detached
16          Terraced
17          Terraced
18          Terraced
19     Semi-detached
20          Detached
21         Apartment
22          Detached
23     Semi-detached
24     Semi-detached
25     Semi-detached
26          Terraced
27          Terraced
28         Apartment
29         Apartment
           ...
177         Detached
178         Detached
179         Terraced
180    Semi-detached
181    Semi-detached
182         Detached
183    Semi-detached
184         Terraced
185        Apartment
186         Detached
187         Detached
188         Detached
189         Detached
190    Semi-detached
191         Detached
192         Detached
193         Detached
194        Apartment
195         Terraced
196    Semi-detached
197         Detached
198         Detached
199         Detached
200    Semi-detached
201    Semi-detached
202    Semi-detached
203    Semi-detached
204         Detached
205    Semi-detached
206    Semi-detached
Name: type, Length: 207, dtype: object

In [31]:
df['type'].unique()

array(['Detached', 'Semi-detached', 'Apartment', 'Terraced'], dtype=object)

In [34]:
#dataframe structure
df[['type', 'location']]

              type       location
0         Detached   Carrigrohane
1         Detached       Glanmire
2    Semi-detached       Glanmire
3    Semi-detached        Douglas
4    Semi-detached        Douglas
5         Detached        Douglas
6    Semi-detached     CityCentre
7    Semi-detached  Silversprings
8         Detached    PassageWest
9        Apartment    Ballinlough
10   Semi-detached        Douglas
11        Terraced      Farranree
12   Semi-detached       Glanmire
13        Detached       Glanmire
14        Detached     Rochestown
15        Detached     Inniscarra
16        Terraced    PassageWest
17        Terraced     CityCentre
18        Terraced     CityCentre
19   Semi-detached       Glanmire
20        Detached      Waterfall
21       Apartment        Douglas
22        Detached        Douglas
23   Semi-detached      Blackrock
24   Semi-detached        Douglas
25   Semi-detached        Douglas
26        Terraced        Douglas
27        Terraced     CityCentre
28       Apartment     CityCentre
29       Apartment      Blackrock
..             ...            ...
177       Detached      Waterfall
178       Detached       Glanmire
179       Terraced     Rochestown
180  Semi-detached    Ballinlough
181  Semi-detached        Douglas
182       Detached        Douglas
183  Semi-detached     CityCentre
184       Terraced       Glanmire
185      Apartment  VictoriaCross
186       Detached    Bishopstown
187       Detached     Rochestown
188       Detached    Bishopstown
189       Detached       Glanmire
190  Semi-detached      Farranree
191       Detached     Inniscarra
192       Detached     Montenotte
193       Detached          Ovens
194      Apartment     Rochestown
195       Terraced     CityCentre
196  Semi-detached     CityCentre
197       Detached     Rochestown
198       Detached        Banduff
199       Detached     Rochestown
200  Semi-detached  Silversprings
201  Semi-detached   Ballintemple
202  Semi-detached       Mayfield
203  Semi-detached      Blackpool
204       Detached    PassageWest
205  Semi-detached  Gurranabraher
206  Semi-detached        Douglas

[207 rows x 2 columns]

In [35]:
#print a row
df.ix[4]

/usr/local/lib/python3.5/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

flarea              118.7
type        Semi-detached
bdrms                   3
bthrms                  2
floors                  2
devment        SecondHand
ber                    E2
location          Douglas
price                 380
Name: 4, dtype: object

In [36]:
df['type'] == 'Apartment'

0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9       True
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21      True
22     False
23     False
24     False
25     False
26     False
27     False
28      True
29      True
       ...
177    False
178    False
179    False
180    False
181    False
182    False
183    False
184    False
185     True
186    False
187    False
188    False
189    False
190    False
191    False
192    False
193    False
194     True
195    False
196    False
197    False
198    False
199    False
200    False
201    False
202    False
203    False
204    False
205    False
206    False
Name: type, Length: 207, dtype: bool

In [39]:
df[df['type'] == 'Apartment']

,flarea,type,bdrms,bthrms,floors,devment,ber,location,price
9,48.3,Apartment,1,1,1,SecondHand,C1,Ballinlough,125
21,83.6,Apartment,2,2,1,SecondHand,D2,Douglas,198
28,65.0,Apartment,2,2,1,SecondHand,B2,CityCentre,150
29,90.0,Apartment,2,2,1,SecondHand,B3,Blackrock,150
31,117.0,Apartment,2,3,2,SecondHand,B3,Rochestown,225
47,66.0,Apartment,2,1,1,SecondHand,E1,Wilton,135
50,57.0,Apartment,2,1,1,SecondHand,D1,CityCentre,140
52,67.0,Apartment,2,2,1,SecondHand,B3,Blackrock,150
56,60.0,Apartment,2,1,1,SecondHand,C1,CityCentre,155
65,70.0,Apartment,2,1,1,SecondHand,B2,Blackrock,130
66,51.1,Apartment,1,1,1,SecondHand,C1,Blackrock,95
67,65.0,Apartment,2,1,1,SecondHand,E1,Blackpool,70
78,79.0,Apartment,2,2,1,SecondHand,B3,CityCentre,135
86,65.0,Apartment,2,1,1,SecondHand,B2,PassageWest,115
90,65.4,Apartment,2,2,1,SecondHand,B3,CityCentre,140
93,109.0,Apartment,3,3,2,SecondHand,B3,Blackrock,180
105,128.9,Apartment,3,3,2,SecondHand,B3,Rochestown,250
107,43.2,Apartment,2,1,1,SecondHand,E2,Blackpool,130
116,41.8,Apartment,1,1,1,SecondHand,E1,CityCentre,100
124,70.0,Apartment,2,2,1,SecondHand,B3,Blackrock,150
126,65.0,Apartment,2,2,1,SecondHand,E1,PassageWest,95
143,224.0,Apartment,3,6,2,SecondHand,B2,Blackpool,350
148,61.2,Apartment,2,1,1,SecondHand,D1,CityCentre,120
156,69.7,Apartment,2,1,1,SecondHand,E2,Blackrock,175
166,44.0,Apartment,1,1,1,SecondHand,B3,CityCentre,105
185,66.0,Apartment,2,2,1,SecondHand,B3,VictoriaCross,99
194,65.0,Apartment,2,2,1,SecondHand,D1,Rochestown,150

In [42]:
#and, or and not
#&  | ~
df[(df['type'] == 'Apartment') | (df['type'] == 'Terraced')]

,flarea,type,bdrms,bthrms,floors,devment,ber,location,price
9,48.3,Apartment,1,1,1,SecondHand,C1,Ballinlough,125
11,102.0,Terraced,3,1,2,SecondHand,G,Farranree,149
16,101.9,Terraced,3,3,2,SecondHand,B3,PassageWest,180
17,60.0,Terraced,3,1,2,SecondHand,F,CityCentre,140
18,81.8,Terraced,4,2,2,SecondHand,C3,CityCentre,135
21,83.6,Apartment,2,2,1,SecondHand,D2,Douglas,198
26,66.9,Terraced,3,1,2,SecondHand,D2,Douglas,155
27,78.0,Terraced,3,1,2,SecondHand,E1,CityCentre,250
28,65.0,Apartment,2,2,1,SecondHand,B2,CityCentre,150
29,90.0,Apartment,2,2,1,SecondHand,B3,Blackrock,150
30,120.0,Terraced,4,2,2,SecondHand,D2,CityCentre,100
31,117.0,Apartment,2,3,2,SecondHand,B3,Rochestown,225
36,69.7,Terraced,3,1,2,SecondHand,G,CityCentre,195
42,92.2,Terraced,3,1,2,SecondHand,C1,Mayfield,149
43,60.0,Terraced,1,1,2,SecondHand,F,CityCentre,90
46,124.0,Terraced,4,1,2,SecondHand,D2,Blackrock,275
47,66.0,Apartment,2,1,1,SecondHand,E1,Wilton,135
50,57.0,Apartment,2,1,1,SecondHand,D1,CityCentre,140
52,67.0,Apartment,2,2,1,SecondHand,B3,Blackrock,150
53,141.0,Terraced,4,3,2,SecondHand,B2,Blackrock,325
56,60.0,Apartment,2,1,1,SecondHand,C1,CityCentre,155
58,58.0,Terraced,3,1,2,SecondHand,G,CityCentre,160
62,78.5,Terraced,3,1,2,SecondHand,D1,Togher,155
65,70.0,Apartment,2,1,1,SecondHand,B2,Blackrock,130
66,51.1,Apartment,1,1,1,SecondHand,C1,Blackrock,95
67,65.0,Apartment,2,1,1,SecondHand,E1,Blackpool,70
68,93.9,Terraced,2,2,2,SecondHand,E1,CityCentre,115
70,79.0,Terraced,2,2,2,SecondHand,B3,Douglas,225
72,88.0,Terraced,3,3,2,SecondHand,C3,Glanmire,175
75,85.0,Terraced,4,1,2,SecondHand,D2,TurnersCross,120
...,...,...,...,...,...,...,...,...,...
112,98.0,Terraced,3,2,2,SecondHand,C3,Rochestown,225
116,41.8,Apartment,1,1,1,SecondHand,E1,CityCentre,100
118,58.3,Terraced,2,2,2,SecondHand,B1,CityCentre,165
119,110.9,Terraced,3,3,2,SecondHand,C1,Donnybrook,230
124,70.0,Apartment,2,2,1,SecondHand,B3,Blackrock,150
125,69.7,Terraced,3,1,2,SecondHand,G,Farranree,80
126,65.0,Apartment,2,2,1,SecondHand,E1,PassageWest,95
131,105.0,Terraced,4,3,2,SecondHand,G,CityCentre,195
132,88.0,Terraced,3,2,2,SecondHand,C3,CityCentre,185
135,74.3,Terraced,3,1,2,SecondHand,G,CityCentre,230
142,104.8,Terraced,4,3,2,SecondHand,D1,CityCentre,169
143,224.0,Apartment,3,6,2,SecondHand,B2,Blackpool,350
148,61.2,Apartment,2,1,1,SecondHand,D1,CityCentre,120
149,65.0,Terraced,3,1,2,SecondHand,F,TheLough,135
153,95.0,Terraced,4,1,2,SecondHand,E1,Blackpool,150
156,69.7,Apartment,2,1,1,SecondHand,E2,Blackrock,175
159,204.4,Terraced,8,5,2,SecondHand,G,CityCentre,245
161,50.0,Terraced,2,1,2,SecondHand,E2,Blackpool,70
162,185.8,Terraced,8,5,2,SecondHand,G,StLukes,225
164,77.8,Terraced,3,2,2,New,C3,Glasheen,220
166,44.0,Apartment,1,1,1,SecondHand,B3,CityCentre,105
169,51.0,Terraced,3,1,2,SecondHand,G,StLukes,55
173,158.0,Terraced,4,2,2,SecondHand,F,Blackrock,250
174,185.8,Terraced,4,1,2,SecondHand,E2,CityCentre,280
175,60.4,Terraced,2,1,2,SecondHand,D1,CityCentre,120
179,92.9,Terraced,3,3,2,SecondHand,C3,Rochestown,195
184,88.3,Terraced,3,2,2,SecondHand,C2,Glanmire,193
185,66.0,Apartment,2,2,1,SecondHand,B3,VictoriaCross,99
194,65.0,Apartment,2,2,1,SecondHand,D1,Rochestown,150
195,93.0,Terraced,3,1,2,SecondHand,G,CityCentre,220

In [50]:
#how many apartments
#here you extract the rows
df[df['type'] == 'Apartment'].shape

(27, 9)

In [51]:
#here you extract the rows
len(df[df['type'] == 'Apartment'])

27

In [52]:
#the fastest - only boolean values
(df['type'] == 'Apartment').sum()

27

In [54]:
#shuffle the data
m, n = df.shape

In [57]:
np.random.permutation(m)

array([ 72, 138,  39,  56, 102, 171,  59,  29,  10, 160,  74, 140,   7,
       137, 196,  47,  42,  30, 178, 100, 135, 113,  15,  32,  89, 149,
       200,  16,  31,  90,   4,   6, 130, 107,  65, 193, 167,  19, 133,
        61,  96, 118,  68, 128, 194, 188,  52, 121,  11, 115,  55,  83,
       108, 199, 112,  71,  44, 153, 109, 195,  80,  24, 116, 158,   3,
       155,  53,   1, 142,  82, 126, 136,  60, 114, 122, 123, 174, 172,
        36,  58,  98, 148,  33, 104, 129, 117, 119, 175, 169, 173, 204,
        69,  14,  75, 203, 151, 192,  95, 176,  77,  35,  81,  20,  23,
       165,  46,  27, 103,  62, 161, 139,   0, 134, 163, 201, 197,  85,
       186,  50,  93, 198,  84, 147, 150, 187, 131, 191, 162,  86,  40,
       177, 101,  63,  97, 168, 190, 180,  22,  76,  38,  78,  54, 154,
        26, 166,  70,  41,  91, 185, 170, 120,   5,  94,  57,  48,  43,
       111,  17, 183,  45, 105,  12,  51, 124,  13, 143,   2,  67,  92,
        79,  28, 106, 127, 159,  34, 156,  99, 184,  18, 181, 145, 205,
        73, 189, 146,  21, 110, 179, 157, 206, 164,  49,   9,  25, 202,
        88, 144, 132, 125, 141,  37,  87,  64,  66,   8, 182, 152])

In [60]:
df = df.take(np.random.permutation(m))

In [61]:
df

,flarea,type,bdrms,bthrms,floors,devment,ber,location,price
49,97.5,Semi-detached,3,3,2,SecondHand,C3,CityCentre,225
159,204.4,Terraced,8,5,2,SecondHand,G,CityCentre,245
0,497.0,Detached,4,5,2,SecondHand,B2,Carrigrohane,975
133,139.4,Detached,3,2,2,SecondHand,B3,TurnersCross,240
183,102.2,Semi-detached,5,2,2,SecondHand,D2,CityCentre,175
147,130.1,Detached,3,2,2,SecondHand,C1,Ballyvolane,275
88,69.7,Terraced,3,1,2,SecondHand,D2,CityCentre,90
173,158.0,Terraced,4,2,2,SecondHand,F,Blackrock,250
172,128.0,Detached,4,1,2,SecondHand,D1,Douglas,400
182,161.0,Detached,3,2,2,SecondHand,G,Douglas,350
139,246.0,Detached,6,3,2,SecondHand,C1,DublinPike,465
38,95.0,Semi-detached,3,3,2,SecondHand,C1,CityCentre,250
121,203.5,Detached,5,3,2,SecondHand,C1,Montenotte,535
100,51.1,Terraced,2,1,2,SecondHand,F,CityCentre,60
32,164.4,Semi-detached,4,3,2,SecondHand,C3,Rochestown,345
12,122.6,Semi-detached,3,3,2,SecondHand,B3,Glanmire,220
196,91.0,Semi-detached,3,1,2,SecondHand,F,CityCentre,220
158,102.3,Detached,3,1,1,SecondHand,C3,Ovens,360
94,232.0,Detached,4,4,2,SecondHand,B2,Douglas,795
127,134.7,Semi-detached,3,2,2,SecondHand,D1,Glasheen,245
1,83.6,Detached,3,1,1,SecondHand,D2,Glanmire,195
18,81.8,Terraced,4,2,2,SecondHand,C3,CityCentre,135
163,228.1,Detached,5,4,2,SecondHand,C2,Waterfall,585
189,141.0,Detached,4,2,1,SecondHand,C2,Glanmire,325
176,190.5,Detached,4,3,2,SecondHand,E1,Blackrock,550
98,183.9,Terraced,5,2,2,SecondHand,G,CityCentre,370
34,222.0,Detached,5,4,2,SecondHand,B3,Waterfall,590
109,99.3,Semi-detached,3,1,2,SecondHand,G,Togher,220
198,223.0,Detached,4,3,2,SecondHand,B2,Banduff,265
142,104.8,Terraced,4,3,2,SecondHand,D1,CityCentre,169
...,...,...,...,...,...,...,...,...,...
192,408.8,Detached,7,4,2,SecondHand,C2,Montenotte,950
136,204.4,Semi-detached,4,2,2,SecondHand,E1,Douglas,480
39,154.0,Detached,4,3,2,SecondHand,D2,Douglas,320
162,185.8,Terraced,8,5,2,SecondHand,G,StLukes,225
24,185.8,Semi-detached,5,2,2,SecondHand,C2,Douglas,530
102,83.6,Terraced,3,1,2,SecondHand,C3,Grange,165
187,139.4,Detached,4,2,2,SecondHand,D1,Rochestown,390
153,95.0,Terraced,4,1,2,SecondHand,E1,Blackpool,150
155,195.0,Detached,4,3,2,SecondHand,D2,Douglas,490
114,120.0,Semi-detached,3,4,2,SecondHand,B3,Fota,195
143,224.0,Apartment,3,6,2,SecondHand,B2,Blackpool,350
188,224.0,Detached,6,3,2,SecondHand,E2,Bishopstown,495
199,213.7,Detached,4,3,2,SecondHand,C3,Rochestown,549
179,92.9,Terraced,3,3,2,SecondHand,C3,Rochestown,195
68,93.9,Terraced,2,2,2,SecondHand,E1,CityCentre,115
120,92.9,Detached,3,1,1,SecondHand,D2,Glanmire,190
42,92.2,Terraced,3,1,2,SecondHand,C1,Mayfield,149
154,106.0,Semi-detached,3,1,2,SecondHand,D2,Glanmire,220
144,86.0,Semi-detached,3,1,2,SecondHand,D2,Douglas,175
53,141.0,Terraced,4,3,2,SecondHand,B2,Blackrock,325
5,170.0,Detached,4,4,2,SecondHand,D1,Douglas,530
197,255.5,Detached,5,3,2,SecondHand,C3,Rochestown,650
129,86.6,Semi-detached,3,2,2,SecondHand,E2,CityCentre,179
17,60.0,Terraced,3,1,2,SecondHand,F,CityCentre,140
77,81.0,Terraced,3,1,2,SecondHand,C3,Douglas,255
90,65.4,Apartment,2,2,1,SecondHand,B3,CityCentre,140
26,66.9,Terraced,3,1,2,SecondHand,D2,Douglas,155
135,74.3,Terraced,3,1,2,SecondHand,G,CityCentre,230
7,123.6,Semi-detached,4,2,2,SecondHand,C1,Silversprings,260
175,60.4,Terraced,2,1,2,SecondHand,D1,CityCentre,120

In [62]:
#very important function in pandas after you change the order of rows
#don't forget to put it
df.reset_index(drop=True, inplace=True)

In [63]:
df

,flarea,type,bdrms,bthrms,floors,devment,ber,location,price
0,97.5,Semi-detached,3,3,2,SecondHand,C3,CityCentre,225
1,204.4,Terraced,8,5,2,SecondHand,G,CityCentre,245
2,497.0,Detached,4,5,2,SecondHand,B2,Carrigrohane,975
3,139.4,Detached,3,2,2,SecondHand,B3,TurnersCross,240
4,102.2,Semi-detached,5,2,2,SecondHand,D2,CityCentre,175
5,130.1,Detached,3,2,2,SecondHand,C1,Ballyvolane,275
6,69.7,Terraced,3,1,2,SecondHand,D2,CityCentre,90
7,158.0,Terraced,4,2,2,SecondHand,F,Blackrock,250
8,128.0,Detached,4,1,2,SecondHand,D1,Douglas,400
9,161.0,Detached,3,2,2,SecondHand,G,Douglas,350
10,246.0,Detached,6,3,2,SecondHand,C1,DublinPike,465
11,95.0,Semi-detached,3,3,2,SecondHand,C1,CityCentre,250
12,203.5,Detached,5,3,2,SecondHand,C1,Montenotte,535
13,51.1,Terraced,2,1,2,SecondHand,F,CityCentre,60
14,164.4,Semi-detached,4,3,2,SecondHand,C3,Rochestown,345
15,122.6,Semi-detached,3,3,2,SecondHand,B3,Glanmire,220
16,91.0,Semi-detached,3,1,2,SecondHand,F,CityCentre,220
17,102.3,Detached,3,1,1,SecondHand,C3,Ovens,360
18,232.0,Detached,4,4,2,SecondHand,B2,Douglas,795
19,134.7,Semi-detached,3,2,2,SecondHand,D1,Glasheen,245
20,83.6,Detached,3,1,1,SecondHand,D2,Glanmire,195
21,81.8,Terraced,4,2,2,SecondHand,C3,CityCentre,135
22,228.1,Detached,5,4,2,SecondHand,C2,Waterfall,585
23,141.0,Detached,4,2,1,SecondHand,C2,Glanmire,325
24,190.5,Detached,4,3,2,SecondHand,E1,Blackrock,550
25,183.9,Terraced,5,2,2,SecondHand,G,CityCentre,370
26,222.0,Detached,5,4,2,SecondHand,B3,Waterfall,590
27,99.3,Semi-detached,3,1,2,SecondHand,G,Togher,220
28,223.0,Detached,4,3,2,SecondHand,B2,Banduff,265
29,104.8,Terraced,4,3,2,SecondHand,D1,CityCentre,169
...,...,...,...,...,...,...,...,...,...
177,408.8,Detached,7,4,2,SecondHand,C2,Montenotte,950
178,204.4,Semi-detached,4,2,2,SecondHand,E1,Douglas,480
179,154.0,Detached,4,3,2,SecondHand,D2,Douglas,320
180,185.8,Terraced,8,5,2,SecondHand,G,StLukes,225
181,185.8,Semi-detached,5,2,2,SecondHand,C2,Douglas,530
182,83.6,Terraced,3,1,2,SecondHand,C3,Grange,165
183,139.4,Detached,4,2,2,SecondHand,D1,Rochestown,390
184,95.0,Terraced,4,1,2,SecondHand,E1,Blackpool,150
185,195.0,Detached,4,3,2,SecondHand,D2,Douglas,490
186,120.0,Semi-detached,3,4,2,SecondHand,B3,Fota,195
187,224.0,Apartment,3,6,2,SecondHand,B2,Blackpool,350
188,224.0,Detached,6,3,2,SecondHand,E2,Bishopstown,495
189,213.7,Detached,4,3,2,SecondHand,C3,Rochestown,549
190,92.9,Terraced,3,3,2,SecondHand,C3,Rochestown,195
191,93.9,Terraced,2,2,2,SecondHand,E1,CityCentre,115
192,92.9,Detached,3,1,1,SecondHand,D2,Glanmire,190
193,92.2,Terraced,3,1,2,SecondHand,C1,Mayfield,149
194,106.0,Semi-detached,3,1,2,SecondHand,D2,Glanmire,220
195,86.0,Semi-detached,3,1,2,SecondHand,D2,Douglas,175
196,141.0,Terraced,4,3,2,SecondHand,B2,Blackrock,325
197,170.0,Detached,4,4,2,SecondHand,D1,Douglas,530
198,255.5,Detached,5,3,2,SecondHand,C3,Rochestown,650
199,86.6,Semi-detached,3,2,2,SecondHand,E2,CityCentre,179
200,60.0,Terraced,3,1,2,SecondHand,F,CityCentre,140
201,81.0,Terraced,3,1,2,SecondHand,C3,Douglas,255
202,65.4,Apartment,2,2,1,SecondHand,B3,CityCentre,140
203,66.9,Terraced,3,1,2,SecondHand,D2,Douglas,155
204,74.3,Terraced,3,1,2,SecondHand,G,CityCentre,230
205,123.6,Semi-detached,4,2,2,SecondHand,C1,Silversprings,260
206,60.4,Terraced,2,1,2,SecondHand,D1,CityCentre,120

<h1>Exercise</h1>

In [64]:
df = pd.read_csv('datasets/dataset_stop_and_searchB.csv')

FileNotFoundError: File b'datasets/dataset_stop_and_searchB.csv' does not exist

<p>Are Thamves Valley Police racist? (using pandas)</p>